h2{
    position: absolute;
    margin-top: 1px;;
    top:0px;
    font-size: 90px;
    color: #f72769;
    left:500px;
}
.gif{
    position: relative;
    top: 10px;
    left: 10px;
} 
.cust{
    position: relative ;
    color:#ff7023;
    margin-top: 90px;;
    left:150px;
    font-size: 30px;
    margin-bottom: 0.5px;
}
.imge{
    position:absolute;
    margin-top: 8px;
    left: 10px;
}
.rev1{
    position: absolute;
    margin-top:0px;
    font-size: 20px;
    left:150px;
    display: flex;
    justify-content: center;
}
